/* fallback */
@font-face {
  font-family: 'Noto Sans Symbols2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans Symbols2'), url(https://github.com/CoreyVidal/noto-sans-symbols/blob/main/NotoSansSymbols2-Regular.ttf?raw=true);
}
