/* fallback */
@font-face {
  font-family: 'Noto Sans Symbols2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans Symbols'), local('NotoSansSymbols'), url(https://filerun.nyx.computer/wl/?id=Bzg71wJTrCC3DvypQLhMAamHAYJ5JtQE);
}
