/* fallback */
@font-face {
  font-family: 'Symbola';
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/CoreyVidal/noto-sans-symbols/blob/main/Symbola.ttf?raw=true) format('truetype');
  }
